Package: com.chenxun.mangoupsidedownworld
Name: MangoUpsideDownWorld
Version: 0.9.0~alpha9
Architecture: iphoneos-arm64e
Description: Experimental whole-aperture upside-down compatibility for Mango on iOS 16.5.
Maintainer: Chen Xun
Author: Chen Xun
Section: Tweaks
Depends: mobilesubstrate, firmware (= 16.5)
Conflicts: com.chenxun.mangoupsidedownfix
