Package: com.chenxun.mangoidleisland
Name: Mango Idle Island Beta9
Version: 1.1.9.6~beta9.6
Architecture: iphoneos-arm64e
Section: Tweaks
Maintainer: Chen Xun
Author: Chen Xun
Description: Beta9 native compact idle Island backing for the Mango Suite.
Depends: mobilesubstrate, firmware (= 16.5)
