Package: com.chenxun.mangoidleisland
Name: Mango Idle Island Beta8
Version: 1.1.9.3~beta8.1
Architecture: iphoneos-arm64e
Section: Tweaks
Maintainer: Chen Xun
Author: Chen Xun
Description: Beta8 native compact idle Island backing for the Mango Suite.
Depends: mobilesubstrate, firmware (= 16.5)
